<div class="row card-body">
  <label for="county" class="col-form-label col-lg-4">Megye:</label>
  <div class="col">
    <select name="county" id="county-select" class="form-select">
      <option value="" selected="selected" hidden="hidden">Válasszon</option>
      {% for county in counties %}
      <option value="{{county.pk}}">{{ county.name }}</option>
      {% endfor %}
    </select>
  </div>
</div>