<h3 class="mb-4"><small class="text-muted">Megye:</small> {{county.name}}</h3>
<div><p class="lead mb-0">Városok:</p></div>
<ul id="cityListContainer">
  {% for city in county.city_set.all %}
    <li id="cityListItem_{{city.pk}}"><p class="label">{{city.name}}</p></li>
  {% endfor %}
</ul>