{% load static %}

<form>
<div class="card-body">
  <div class="row mb-2">
    {% csrf_token %}
    <label for="city_name" class="col-form-label col-lg-4">Új város:</label>
    <div class="col">
      <input type="text" name="city_name" class="form-control"/>
    </div>
  </div>
  <div class="row">
    <div class="col-4"></div>
    <div class="col">
      <button id="addCityBtn" class="btn btn-primary">Felvesz</button>
    </div>
  </div>
</div>
</form>


{% comment %} <div class="row card-body">
  <label for="county" class="col-form-label col-auto">Megye:</label>
  <div class="col">
    <select name="county" id="county-select" class="form-select">
      <option value="" selected="selected" hidden="hidden">Válasszon</option>
      {% for county in counties %}
      <option value="{{county.pk}}">{{ county.name }}</option>
      {% endfor %}
    </select>
  </div>
</div> {% endcomment %}