{% load static %}
<form id="editCityForm">
  <div class="row">
    {% csrf_token %}
    <input type="hidden" name="cityId" value=""/>
    <div class="col-5">
      <input name="cityName" class="form-control mb-2 mb-sm-0"/>
    </div>
    <div class="col-sm">
      <button type="button" id="removeBtn" class="btn btn-danger">törlés</button>
      <button type="button" id="updateBtn" class="btn btn-primary">módosít</button>
      <button type="button" id="cancelBtn" class="btn btn-secondary">mégse</button>
    </div>
  </div>
</form>