{% extends 'base.html' %}
{% block title %} Főoldal {% endblock %}

{% block content %}
  <div class="row">
  <h1 class="mt-5">Megérkezett a csodálatos Pimp Your Town webalkalmazás! </h1>
  <p>Kevesled a vagány nevű városok számát? Unod, hogy a haverok nem szállnak le rólad, mert rinyaújnépi vagy? Esetleg az exed szombathelyi, és inkább kitörölnéd az egész várost, úgy ahogy van? Itt a helyed! Csak válaszd ki a megyét, és minden vágyad valóra válik!</p> 
  </div>

  <div class="row">
    <div class="col-xs-6 col-xl-4">
    <div id="countySelectorContainer" class="card m-2">
      {% include 'forms/county_selector_form.html' %}
    </div>
    <div id="addCityForm" class="card m-2">
      {% include 'forms/city/add_city_form.html' %}
    </div>
    </div>
    <div class="col-xs-6 col-xl-5">
    <div id="countyDetailsContainer" class="card m-2">
      {% include "forms/city/edit_city_form.html" %}
      {% for county in counties %}
        <div id="countyDetails_{{county.pk}}" class="card-body">
          {% include "content/county_details.html"%}
        </div>
      {% endfor %}
    </div>
  </div>
  </div>
{% endblock %}