body {
    background-color: rgb(245, 245, 245);
}

.container {
    background-color: white;
    min-height: 900px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

#addCityForm,
#editCityForm,
#countyDetailsContainer {
    display: none;
}

div[id^="countyDetails_"] {
    display:none;
}

.label {
    padding: 7px 13px 7px 13px;
    margin-bottom: 0px;
}

.headerLogo{
    transform: translate(10%, 100%);
}

.copy-left { 
    display: inline-block; 
    text-align: right; 
    margin: 0px; 
    -moz-transform: scaleX(-1); 
    -o-transform: scaleX(-1); 
    -webkit-transform: scaleX(-1); 
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: “FlipH”;
}