{% load static %}

<div id="headerCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static "pimpyourtown/img/happy1_resized.png" %}" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="{% static "pimpyourtown/img/happy2_resized.jpg" %}" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="{% static "pimpyourtown/img/happy3_resized.png" %}" class="d-block w-100">
    </div>
    <img class="position-absolute h-50 headerLogo" src="{% static "pimpyourtown/img/logo_big.png" %}">
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#headerCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#headerCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>